@import url('./print.css');
@import url('./media-screen.css');
@import url('./table.css');

*, html {
    scroll-behavior: smooth !important;
}


main {
    display: flex;
    height: calc(100vh - 20px);
}


a {
    color: rgb(3, 74, 207);
    transition: color .25s ease-out;
    -moz-transition: color .25s ease-out;
    -webkit-transition: color .25s ease-out;
    -o-transition: color .25s ease-out;
}

a:hover {
    color: rgb(104, 154, 246);
}

h1 {
    font-size: 2em;
}